@charset "utf-8";

table, tr, td {
    border: 1px solid #BFBFBF;
}

table {
    width: 100%;
    padding: 0;
    margin: 0;
}

.input {
    width: 30px;
}

.id, .chk {
    text-align: center;
}

.totalCell {
    text-align: right;
}

.title > td {
    text-align: center;
}